/* About Section */

.about-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 160px; /* GNB와 간격 확보 */
}

.about-container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50%;
  transform: translateX(0); /* 가운데 기준으로 좌측으로 밀기 */
}

.about-container p {
  font-size: 32px;
  line-height: 1.8;
  color: #111;
  letter-spacing: -1px;
  max-width: 880px;
}
