.about-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 160px;
  box-sizing: border-box;
  position: relative;
}

.about-container {
  position: relative;
  left: 50%;
  transform: translateX(0); /* 앞으로 여기에만 조정 적용 */
  max-width: 880px;
  width: fit-content;
  text-align: left;
  box-sizing: border-box;
}

.about-container p {
  font-size: 32px;
  line-height: 1.6;
  color: #111;
  letter-spacing: -1px;
  max-width: 880px;
}
