/* 전체 설정 */
body {
  margin: 0;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', sans-serif;
  background-color: #fff;
  color: #111;
  padding: 0 20px;
}


/* GNB 전체 */
.gnb {
  position: relative;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 0 20px;
}

/* 왼쪽 로고 */
.logo {
  font-size: 32px;
  font-weight: 600;
}

/* 오른쪽 메뉴: 화면 중앙 기준 정렬 */
.menu {
  position: absolute;
  left: 50%;
  display: flex;
  gap: 40px;
  transform: translateX(0); /* 이후 미세 조정 가능 */
}

.menu a {
  text-decoration: none;
  color: #111;
  font-size: 32px;
  font-weight: 600;
}

.menu a:hover {
  opacity: 0.6;
}
